<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title> UI Theme Picker </title>
  <link rel="stylesheet" href="css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"></script>
  <script src="js/main.js"></script>
</head>
<body ng-app="MyApp" ng-controller="MyController as myCtrl" ng-class="myCtrl.colorSelected.bodystyle">

  <div>
    <input type="radio"
           ng-value="myCtrl.red"
           ng-model="myCtrl.colorSelected"> Red

      <input type="radio"
           ng-value="myCtrl.yellow"
           ng-model="myCtrl.colorSelected">Yellow

      <input type="radio"
           ng-value="myCtrl.blue"
           ng-model="myCtrl.colorSelected">Blue

      <input type="radio"
           ng-value="myCtrl.green"
           ng-model="myCtrl.colorSelected">Green

       <input type="radio"
           ng-value="myCtrl.purple"
           ng-model="myCtrl.colorSelected">Purple

        <div ng-class="myCtrl.colorSelected.firstdiv"> {{myCtrl.colorSelected.description}} </div>

        <div ng-class="myCtrl.colorSelected.seconddiv"> {{myCtrl.colorSelected.description2}} </div>

  </div>
  
</body>
</html>