<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Assignment #4 - Music Playlist</title>
  <link rel="stylesheet" href="assets/CSS/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"></script>
  <script src="app.js"></script>
  <script src="components/controllers/MyController.js"></script>
  <script></script>
</head>
<body ng-app="MyApp" ng-controller="MyController as myCtrl">
  <h1>Music Playlist</h1>

  <h3>User Information</h3>
    <label>User Name: <input type="text" ng-model="myCtrl.user"></label>
    <label>Age:<input type="number" ng-model="myCtrl.age"></label>
  
  <h3>Allow Explicit Content</h3>
    <label><input type="radio" name="explicit" ng-value="true" ng-model="myCtrl.filterOn" ng-change="myCtrl.filterSongs()">Clean</label>
    <label><input type="radio" name="explicit" ng-value="false" ng-model="myCtrl.filterOn" ng-disabled="myCtrl.underAge(myCtrl.age)" ng-change="myCtrl.filterSongs()"> Explicit</label>

  <h3>Genre</h3>
    <ul>
      <li ng-repeat="genre in myCtrl.genres"><a href="" ng-click="myCtrl.selectGenre(genre)"> {{genre.genre}}</a></li>
    </ul>

  <h3>Select Songs</h3>
    <label ng-repeat="song in myCtrl.selectedGenre.songs | filter: myCtrl.songFilter"><input type="checkbox"> {{song.artist}} - {{song.title}} </label>

  <button> Submit Playlist </button>

  
</body>
</html>